:root {
  --opacity-modal-color: rgb(0, 131, 253, 0.50);
  --opacity-sub-modal-color: rgba(152, 209, 255, 0.5);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

#contenedor {
  box-sizing: border-box;
  overflow-x: hidden;
  max-width: 100%;
  background: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header" "barra-lateral" "main" "experiencia" "proyectos";
}

ul li {
  color: aliceblue;
}

#tecnologias {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}
#tecnologias img {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 260px) {
  #header {
    display: grid;
    grid-template-areas: header;
  }
  #header .seccion-perfil {
    display: flex;
    flex-direction: column;
  }
  #header .seccion-perfil .imagen-portada {
    max-width: 100%;
    box-shadow: 0px -2px 100px var(--opacity-sub-modal-color);
  }
  #header .seccion-perfil .artcle-perfil {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    padding: 1rem;
  }
  #header .seccion-perfil .artcle-perfil .imagen-perfil {
    width: 100px;
    border-radius: 200px;
    margin-top: -3rem;
    margin-left: 0;
    z-index: 150;
  }
  #header .seccion-perfil .artcle-perfil .nombre-perfil {
    font-size: 1.5rem;
    color: #fff;
  }
  #header .seccion-perfil .profecional {
    width: 80%;
    font-size: 0.9rem;
    text-align: right;
    color: rgb(101, 218, 247);
    margin-top: -1.5rem;
    margin-right: 2rem;
  }
}
@media (min-width: 500px) {
  #header {
    display: grid;
    grid-template-areas: header;
  }
  #header .seccion-perfil {
    display: flex;
    flex-direction: column;
  }
  #header .seccion-perfil .artcle-perfil {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    padding: 1rem;
  }
  #header .seccion-perfil .artcle-perfil .imagen-perfil {
    width: 150px;
    border-radius: 200px;
    margin-top: -6rem;
  }
  #header .seccion-perfil .artcle-perfil .nombre-perfil {
    font-size: 1.8rem;
  }
  #header .seccion-perfil .profecional {
    width: 75%;
    font-size: 0.9rem;
    text-align: right;
    color: rgb(101, 218, 247);
    margin-top: -2rem;
    margin-right: 2rem;
  }
}
@media (min-width: 900px) {
  #header {
    display: grid;
    grid-template-areas: header;
  }
  #header .imagen-portada {
    height: 35vh;
  }
  #header .seccion-perfil {
    display: flex;
    flex-direction: column;
  }
  #header .seccion-perfil .artcle-perfil {
    max-width: 600px;
    padding: 1rem;
  }
  #header .seccion-perfil .artcle-perfil .imagen-perfil {
    width: 200px;
    border-radius: 200px;
    margin-top: -8rem;
    margin-left: 4rem;
  }
  #header .seccion-perfil .profecional {
    max-width: 500px;
    font-size: 0.9rem;
    text-align: right;
    color: rgb(101, 218, 247);
    margin-top: -2rem;
    margin-right: 2rem;
  }
}
@media (min-width: 260px) {
  #barra-lateral {
    display: grid;
    grid-template-areas: barraLateral;
  }
  #barra-lateral .section-redes {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 95%;
    top: 25rem;
    gap: 1rem;
    position: fixed;
    z-index: 160;
  }
  #barra-lateral .section-redes .style-rs {
    width: 35px;
    background: #fff;
    border-radius: 10px;
  }
  #barra-lateral .section-redes .boton-waspp {
    width: 45px;
    font-size: 2.2rem;
    font-weight: 1000;
    padding-top: 0.3rem;
    text-align: center;
    color: #0df053;
    background: #fff;
    border-radius: 40px;
  }
}
@media (min-width: 260px) {
  #main {
    display: grid;
    grid-template-areas: sobreMi;
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  #main #sobre-mi,
  #main #habiliddes {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin-top: 6rem;
    margin-left: 2rem;
    padding: 1rem;
    border-radius: 10px;
    background: rgba(56, 55, 55, 0.3882352941);
  }
  #main #sobre-mi .h2-sobre-mi,
  #main #sobre-mi .title-h,
  #main #habiliddes .h2-sobre-mi,
  #main #habiliddes .title-h {
    font-size: 1.5rem;
    margin: 2rem;
    color: #a3e38a;
  }
  #main #sobre-mi .p-sobre-mi,
  #main #sobre-mi .li-h,
  #main #habiliddes .p-sobre-mi,
  #main #habiliddes .li-h {
    font-size: 1rem;
    padding: 1rem 1rem 1rem 2rem;
    color: #fff;
  }
  #main #sobre-mi .p-sobre-mi .p-s-1,
  #main #sobre-mi .p-sobre-mi .p-s-2,
  #main #sobre-mi .li-h .p-s-1,
  #main #sobre-mi .li-h .p-s-2,
  #main #habiliddes .p-sobre-mi .p-s-1,
  #main #habiliddes .p-sobre-mi .p-s-2,
  #main #habiliddes .li-h .p-s-1,
  #main #habiliddes .li-h .p-s-2 {
    width: 80%;
    margin: 1rem;
  }
  #main #habiliddes {
    margin-top: 2rem;
  }
}
@media (min-width: 530px) {
  #main {
    display: grid;
    grid-template-areas: sobreMi;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 870px) {
  #main {
    display: grid;
    grid-template-areas: sobreMi;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: normal;
  }
  #main #sobre-mi .artcle-sobre-mi {
    margin-left: auto;
    margin-right: auto;
  }
  #main #habiliddes {
    margin-top: 6rem;
  }
}
@media (min-width: 260px) {
  #proyectos {
    display: grid;
    grid-template-areas: proyectos;
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  #proyectos .h2-proyecto-style {
    width: 90%;
    color: #a3e38a;
    margin-top: 4rem;
    margin-left: 4rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-radius: 10px;
    background: rgba(56, 55, 55, 0.3882352941);
    text-align: center;
  }
  #proyectos .article-proyecto-style {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-left: 4rem;
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  #proyectos .article-proyecto-style .figure-proyecto-style {
    padding: 1rem;
    border-radius: 10px;
    background: rgba(56, 55, 55, 0.3882352941);
    max-width: 250px;
    margin: 0.5rem;
    text-align: center;
    cursor: pointer;
  }
  #proyectos .article-proyecto-style .figure-proyecto-style .figcation-proyecto-style {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: rgb(101, 218, 247);
    width: 100%;
    padding: 1rem 0 1rem 0;
  }
  #proyectos .article-proyecto-style .figure-proyecto-style .img-proyecto-style {
    width: 200px;
  }
  #proyectos .article-proyecto-style .figure-proyecto-style .descripcion-proyecto-style {
    margin: 0.5rem;
    color: #fff;
    text-align: justify;
  }
  #proyectos .article-proyecto-style .figure-proyecto-style:hover {
    scale: 1.1;
    box-shadow: 0px -2px 20px rgb(9, 9, 189);
  }
  #proyectos .article-proyecto-style .figure-proyecto-style .btn {
    padding: 0.5rem;
    border-radius: 10px;
    background: #a3e38a;
  }
  #proyectos .article-proyecto-style .figure-proyecto-style .btn a {
    font-weight: 700;
    color: #000;
  }
  #proyectos .article-proyecto-style .figure-proyecto-style .btn:hover {
    background: rgb(101, 218, 247);
    scale: 0.8;
  }
  #proyectos .article-proyecto-style .figure-proyecto-style .btn:hover a {
    color: rgb(9, 9, 189);
  }
}
@media (min-width: 510px) {
  #proyectos {
    display: grid;
    grid-template-areas: proyectos;
    width: 90%;
  }
  #proyectos .article-proyecto-style {
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1.5rem;
  }
  #proyectos .article-proyecto-style .figure-proyecto-style {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 900px) {
  #proyectos {
    display: grid;
    grid-template-areas: proyectos;
    width: 90%;
  }
  #proyectos .article-proyecto-style {
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1.5rem;
  }
  #proyectos .article-proyecto-style .figure-proyecto-style {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 260px) {
  #experiencia {
    display: grid;
    grid-template-areas: experiencia;
    width: 80%;
  }
  #experiencia .art-experiencia-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    min-width: 300px;
    margin-top: 4rem;
    margin-left: 2rem;
    border-radius: 10px;
    background: rgba(56, 55, 55, 0.3882352941);
  }
  #experiencia .art-experiencia-style .h2-experiencia-style {
    color: #a3e38a;
    margin: 2rem;
  }
  #experiencia .art-experiencia-style .p-experiencia-style {
    color: #fff;
    padding: 1rem;
    padding: 1rem 1rem 1rem 2rem;
  }
}
@media (min-width: 510px) {
  #experiencia {
    display: grid;
    grid-template-areas: experiencia;
    width: 90%;
  }
  #experiencia .art-experiencia-style {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    min-width: 300px;
  }
}
@media (min-width: 940px) {
  #experiencia {
    display: grid;
    grid-template-areas: experiencia;
    width: 90%;
  }
  #experiencia .art-experiencia-style {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    min-width: 300px;
  }
}/*# sourceMappingURL=index.css.map */